ollama
streamlit  
langchain
langchain-core
langchain-community
streamlit_chat
streamlit-extras
groq
langchain-groq
python-dotenv
faiss-cpu
pypdf
tqdm
sentence_transformers
huggingface-hub
langchain-huggingface